@font-face {
    font-family: "DMSANS";
    src: url(../css/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DMSANS, sans-serif;
}


a {
    text-decoration: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    transition: filter 0.3s ease;
    background-color: #ddd;
    opacity: .8
}

.hdr_wrp {
    @include flex;
    padding: 20px 0;

    .hdr_nav_list {
        @include flex;
        gap: 3rem;

        a {
            color: $prmTextGray;
            font-size: 15px;
            font-weight: 700;
            transition: .3s;
            padding: 10px;
            border-bottom: inherit solid 2px;


            &:hover {
                color: #000;
                border-bottom: #5454D4 solid 2px;
            }

        }

    }

    .burger_menu {
        display: none
    }

    button {
        @include prmBtn;
        transition: .3s;

        &:hover {
            opacity: .8;
            cursor: pointer;
        }
    }

}

.hero_wrp {
    @include flex;
    gap: 4rem;

    .hero_desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 50%;

        & h2 {
            color: $prmTextBlack;
            font-weight: 700;
            font-size: 80px;
            line-height: 77px;
        }

        & p {
            color: $prmTextGray;
            font-size: 20px;
            line-height: 33px;
        }

        & button {
            @include prmBtn($prmBlue);
            transition: .3s;
            font-size: 17px;
            font-weight: 700;

            &:hover {
                opacity: .8;
            }
        }
    }

    .hero_img {
        width: 50%;
        overflow: hidden;
    }
}

.moderators {
    width: 100%;
    height: 80px;
    padding: 10px 0;

    .moder_wrp {
        @include flex;
    }
}

.sub_indx {
    width: 100%;
    padding: 60px 0;

    .sb_indx_wrp {
        @include flex;
        gap: 3rem;

        .sb_indx_wrp_img {
            width: 50%;
        }

        .sb_indx_wrp_txt {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2rem;
            width: 50%;

            & h3 {
                font-weight: 700;
                font-size: 50px;
            }

            & p {
                font-size: 20px;
                line-height: 30px;
                color: $prmTextGray;
            }

            & a {
                color: $prmBlue;
            }
        }
    }
}

.metrics {
    width: 100%;
    padding: 60px 0;

    .metrics_wrp {
        @include flex;
        gap: 3rem;

        .depth_mtrx_txt {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2rem;
            width: 50%;

            & h3 {
                font-weight: 700;
                font-size: 50px;
            }

            & p {
                font-size: 20px;
                line-height: 30px;
                color: $prmTextGray;
            }

            & a {
                color: $prmBlue;
            }
        }

        .metrics_img {
            width: 50%;
        }
    }
}

.price__inf {
    width: 100%;
    padding: 60px 0;

    .pric__inf__wrp {
        @include flex;

        .pr__inf_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;

            & strong {
                font-weight: 700;
                font-size: 24px;
                color: $prmTextBlack;
            }

            & p {
                color: $prmTextGray;
            }
        }
    }
}


.pricing {
    width: 100%;
    padding: 60px 0;

    .prc_wrp {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .prc_heading {
            @include flex;
            width: 100%;

            & h2 {
                font-size: 60px;
                font-weight: 700;
                color: $prmTextBlack;
                width: 520px;
            }

            .prc_heading_btns {
                display: flex;

                &>:nth-child(1) {
                    @include prmBtn;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    background-color: $prmOrange;
                }

                &>:nth-child(2) {
                    @include prmBtn;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    background-color: $prmCardGray;
                    color: $prmTextBlack;
                }

                & button:hover {
                    opacity: .8;
                }
            }
        }

        .prc_plans {
            display: flex;
            width: 100%;
            gap: 1rem;

            .prc_plns_card {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% / 3);
                flex-direction: column;
                text-align: center;
                gap: 1rem;
                background-color: $prmCardGray;
                padding: 30px 30px;
                transition: .3s;
                border-radius: 10px;

                & h5 {
                    color: $prmTextGray;
                    font-size: 18px;
                }

                & b {
                    font-weight: 700;
                    font-size: 60px;
                }

                & ul li {
                    font-size: 17px;
                    color: $prmTextGray;
                    line-height: 50px
                }

                & button {
                    @include prmBtn;
                    background-color: #fff;
                    color: $prmBlue;
                    transition: .3s;
                }

                &:hover {
                    background-color: $prmOrange;
                    cursor: default;
                    color: #fff;

                    & h5,
                    & b,
                    & button,
                    & ul li {
                        color: #fff;
                    }
                }

                &:hover button {
                    background-color: #9F3919;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 85%;
    }

    .hdr_wrp {
        font-size: 1rem;
        padding-left: 20px;
        padding-right: 20px;

        &>img {
            height: 2rem;
        }

        & button {
            display: none;
        }

        .hdr_nav_list {
            & a {
                font-size: .8rem;
            }
        }
    }

    .hero_wrp {

        .hero_desc {

            &>h2 {
                font-size: 40px;
            }

            &>p {
                font-size: 16px;
            }

            &>button {
                padding: 15px 45px;
            }
        }
    }

    .sub_indx {
        .sb_indx_wrp {

            .sb_indx_wrp_img {

                & img {
                    width: 100%;
                    height: auto;
                }
            }

            .sb_indx_wrp_txt {

                & h3 {
                    font-size: 40px;
                }

                & p {
                    font-size: 16px;
                }

                & a {
                    font-size: 16px;
                }
            }
        }
    }

    .metrics {
        .metrics_wrp {

            .depth_mtrx_txt {

                & h3 {
                    font-size: 40px;
                }

                & p {
                    font-size: 16px;
                }

                & a {
                    font-size: 16px;
                }
            }

            .metrics_img {

                & img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .price__inf {

        .pric__inf__wrp {

            .pr__inf_item {

                & strong {
                    font-size: 18px;
                }

                & p {
                    font-size: 12px;
                }

                & img {
                    width: 60%;
                }
            }
        }
    }

    .pricing {

        .prc_wrp {

            .prc_heading {

                & h2 {
                    font-size: 40px;
                }

                .prc_heading_btns {

                    & button {
                        padding: 15px 45px;
                    }
                }
            }

            .prc_plans {

                .prc_plns_card {

                    & h2 {
                        font-size: 12px;
                    }

                    & b {
                        font-size: 40px;
                    }

                    & ul li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


@media (max-width: 920px) {
    .hdr_wrp {

        & .burger_menu {
            display: block;

            &:hover {
                cursor: pointer;
            }
        }

        & .hdr_nav_list {
            display: none;
        }
    }

    .hero_wrp {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .hero_desc {
            width: 100%;
            @include flex;
            text-align: center;
        }

        .hero_img {
            width: 100%;

            &>img {
                width: 100%;
                height: auto;
            }

        }
    }

    .moderators {

        .moder_wrp {
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            
            & img{
                height: 20px;
            }
        }
    }

    .sub_indx {
        padding: 100px 0;

        .sb_indx_wrp {
            flex-direction: column;

            .sb_indx_wrp_txt {
                align-items: center;
                text-align: center;
            }
        }
    }

    .metrics {

        .metrics_wrp {
            flex-direction: column;

            .depth_mtrx_txt {
                align-items: center;
                text-align: center;
            }
        }
    }

    .price__inf {

        .pric__inf__wrp {
            flex-wrap: wrap;
            justify-content: center;

            .pr__inf_item {
                width: 50%;
            }
        }
    }

    .pricing {

        .prc_wrp {


            .prc_heading {
                flex-wrap: wrap;
                justify-content: center;
                gap: 3rem;
                text-align: center;
            }

            .prc_plans {
                flex-wrap: wrap;
                justify-content: center;

                .prc_plns_card {
                    width: 45%;

                    & button{
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .hdr_wrp{

        & >:nth-child(1){
            height: 20px;
        }
    }

    .pricing {

        .prc_wrp {

            .prc_plans {
                flex-wrap: wrap;
                justify-content: center;

                .prc_plns_card {
                    width: 85%;
                    text-align: center;
                    gap: .5rem;

                    & h5{
                        font-size: 10px;
                    }

                    & b{
                        font-size: 20px;
                    }

                    & ul li{
                        font-size: 10px;
                    }

                    & button{
                        text-align: center;
                        font-size: 10px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}